<mat-form-field class="example-full-width">
  <mat-label>Busca tu pelicula favorita</mat-label>
  <input
    matInput
    [(ngModel)]="searchString"
    type="text"
    placeholder="Ejemplo: Jack Reacher"
  />
</mat-form-field>
<button type="button" mat-raised-button color="primary" (click)="search()">
  Buscar
</button>

<!-- Resultados de la busqueda -->

<mat-action-list>
  <mat-list-item
    *ngFor="let movie of movieSearchResult; let i = index"
    routerLink="/detail/{{ movie.id }}"
  >
    <span matListItemTitle>{{ movie.title }}</span>
    <span matListItemLine>{{ movie.releaseDate | date }}</span>
    <span matListItemLine>{{ movie.voteAverage }}</span>
  </mat-list-item>
</mat-action-list>
